<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}MySite{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
          <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/products/">Produtos</a></li>
            <li><a href="/clients/">Clientes</a></li>
            <li><a href="/admin/">Admin</a></li>
          </ul>
        </nav>
        <div style="float: right; margin-top: -2.5rem;">
          {% if user.is_authenticated %}
            Logged in as {{ user.username }} | <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>

        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>
